<% include ./partials/header %>

<body>
  <br><br><br>
  <form class="addproduct" action="/addproduct" method="post">
    <label for="description">Product Description</label>
    <select>
      <option value="acornsquash">Acorn Squash</option>
      <option value="asparagus">Asparagus</option>
      <option value="avocado">Avocado</option>
      <option value="beets">Beets</option>
      <option value="bellpepper">Bell Pepper</option>
      <option value="broccolli">Broccolli</option>
      <option value="brusselssprouts">Brussels Sprouts</option>
      <option value="butternutsquash">Butternut Squash</option>
      <option value="cabbage">Cabbage</option>
      <option value="cantaloupe">Cantaloupe</option>
      <option value="carrot">Carrot</option>
      <option value="cauliflower">Cauliflower</option>
      <option value="celery">Celery</option>
      <option value="chayotesquash">Chayote Squash</option>
      <option value="cilantro">Cilantro</option>
      <option value="collard">Collard</option>
      <option value="corn">Corn</option>
      <option value="cucumber">Cucumber</option>
      <option value="eggplant">Eggplant</option>
      <option value="grapefruit">Grapefrutit</option>
      <option value="graysquash">Gray squash</option>
      <option value="greenbeans">Green Beans</option>
      <option value="herbs">Herbs</option>
      <option value="honeydew">Honeydew</option>
      <option value="hotpepper">Hot Pepper</option>
      <option value="jackfruit">Jackfruit</option>
      <option value="jicama">Jicama</option>
      <option value="kale">Kale</option>
      <option value="kohlrabi">Kohlrabi</option>
      <option value="leefygreens">Leefy Greens</option>
      <option value="lemons">Lemons</option>
      <option value="limes">Limes</option>
      <option value="mango">Mango</option>
      <option value="onion">Onion</option>
      <option value="oranges">Oranges</option>
      <option value="paes">Paes</option>
      <option value="chayotesquash">Chayote Squash</option>
      <option value="cilantro">Cilantro</option>
      <option value="collard">Collard</option>
      <option value="corn">Corn</option>
      <option value="cucumber">Cucumber</option>
      <option value="eggplant">Eggplant</option>
      <option value="grapefruit">Grapefrutit</option>
      <option value="graysquash">Gray squash</option>
      <option value="greenbeans">Green Beans</option>
      <option value="herbs">Herbs</option>
    </select>
    <input type="number" name="costperlb" placeholder="Cost per lb" value="">
    <input type="text" name="Location" placeholder="location" value="">
    <input type="number" name="truckloadsoffered" placeholder="Truck Loads Offered" value="">
    <input type="dropdown" name="" value="">
    <input type="text" name="vendorname" placeholder="vendorname" value="">
    <input type="number" name="shelflife" placeholder="Shelf Life" value="">
    <input type="checkbox" name="combo" value="combo" checked> Combo<br>
  </form>
</body>
</html>
