<% include ./partials/headerfood %>
        <div class="d-flex mt-3 justify-content-center align-items-center flex-column col-12">
          <div class="row my-3">
            <div class="color-green col-12 my-2 text-center">
                Address Book
            </div>
            <div class="green-highlight-white-card-rect justify-content-center px-2 m-2">
                <div class="">
                    Jon Oliver
                </div>
                <div class="">
                    Position: Agency Retail Specialist
                </div>
                <div class="">
                    Team: Accounting
                </div>
                <div class="d-flex align-content-center py-1">
                    <i class="pl-3 align-self-center color-green material-icons align-self-center">email</i>
                    <span class="">
                        &nbsp;&nbsp;steveoliver@foodbank.org
                    </span>
                </div>
                <div class="d-flex align-content-center py-1">
                    <i class="pl-3 align-self-center color-green material-icons align-self-center">call_end</i>
                    <span class="">
                        &nbsp;&nbsp;512.684.2522
                    </span>
                </div>
                <div class="d-flex align-content-center py-1">
                    <i class="pl-3 align-self-center color-green material-icons align-self-center">phone</i>
                    <span class="">
                        &nbsp;&nbsp;512.808.6745
                    </span>
                </div>
            </div>
            <div class="green-highlight-white-card-rect justify-content-center px-2 m-2">
                <div class="">
                    Steve Oliver
                </div>
                <div class="">
                    Position: Agency Retail Specialist
                </div>
                <div class="">
                    Team: Receiving
                </div>
                <div class="d-flex align-content-center py-1">
                    <i class="pl-3 align-self-center color-green material-icons align-self-center">email</i>
                    <span class="">
                        &nbsp;&nbsp;johnoliver@foodbank.org
                    </span>
                </div>
                <div class="d-flex align-content-center py-1">
                    <i class="pl-3 align-self-center color-green material-icons align-self-center">call_end</i>
                    <span class="">
                        &nbsp;&nbsp;512.684.2522
                    </span>
                </div>
                <div class="d-flex align-content-center py-1">
                    <i class="pl-3 align-self-center color-green material-icons align-self-center">phone</i>
                    <span class="">
                        &nbsp;&nbsp;512.808.6745
                    </span>
                </div>
            </div>
            <div class="green-highlight-white-card-rect justify-content-center px-2 m-2">
                <div class="">
                    Kevin Oliver
                </div>
                <div class="">
                    Position: Agency Retail Specialist
                </div>
                <div class="">
                    Team: Sourcing
                </div>
                <div class="d-flex align-content-center py-1">
                    <i class="pl-3 align-self-center color-green material-icons align-self-center">email</i>
                    <span class="">
                        &nbsp;&nbsp;kevinoliver@foodbank.org
                    </span>
                </div>
                <div class="d-flex align-content-center py-1">
                    <i class="pl-3 align-self-center color-green material-icons align-self-center">call_end</i>
                    <span class="">
                        &nbsp;&nbsp;512.684.2522
                    </span>
                </div>
                <div class="d-flex align-content-center py-1">
                    <i class="pl-3 align-self-center color-green material-icons align-self-center">phone</i>
                    <span class="">
                        &nbsp;&nbsp;512.808.6745
                    </span>
                </div>
            </div>
        </div>
    </body>
</html>
