<% include ./partials/header %>

<div class="d-flex mt-3 justify-content-center align-items-center flex-column col-12">
  <span class="icon d-flex mt-3 justify-content-center"><i class="material-icons background-circle ">check</i></span>
  <div class="row my-3">
      <div class="complete-order text-center">
          Your Email has been sent!
      </div>
  </div>
</div>
</body>
