<% include ./partials/header %>

  <h2 style="text-align:center;">Register</h2>
  <div class="d-flex justify-content-center">

    <br>
    <form class="foodbankregister" action="foodbankregister" method="post">
      <input type="text" name="foodbankname" placeholder="foodbankname" value=""><br>
      <input type="text" name="foodbankaddress" placeholder="foodbankaddress" value=""><br>
      <input type="tel" name="foodbankphone" placeholder="foodbankphone" value=""><br>
      <input style="width: 50px;" type="number" min="1" max="2" placeholder="tier" name="tier" value=""><br>
      <input type="text" name="accountingFirstName" placeholder="accountingFirstName" value=""><br>
      <input type="text" name="accountingLastName" placeholder="accountingLastName" value=""><br>
      <input type="email" name="accountingEmail" placeholder="accountingEmail" value=""><br>
      <input type="tel" name="accountingPhone" placeholder="accountingPhone" value=""><br>
      <input type="tel" name="accountingMobile" placeholder="accountingMobile" value=""><br>
      <input type="text" name="accountingPosition" placeholder="accountingPosition" value=""><br>
      <input type="text" name="receivingFirstName" placeholder="receivingFirstName" value=""><br>
      <input type="text" name="receivingLastName" placeholder="receivingLastName" value=""><br>
      <input type="email" name="receivingEmail" placeholder="receivingEmail" value=""><br>
      <input type="tel" name="receivingPhone" placeholder="receivingPhone" value=""><br>
      <input type="tel" name="receivingMobile" placeholder="receivingMobile" value=""><br>
      <input type="text" name="receivingPosition" placeholder="receivingPosition" value=""><br>
      <input type="text" name="sourcingFirsName" placeholder="sourcingFirstName" value=""><br>
      <input type="text" name="sourcingLastName" placeholder="sourcingLastName" value=""><br>
      <input type="email" name="sourcingEmail" placeholder="sourcingEmail" value=""><br>
      <input type="tel" name="sourcingMobile" placeholder="sourcingMobile" value=""><br>
      <input type="tel" name="sourcingPhone" placeholder="sourcingPhone" value=""><br>
      <input type="text" name="sourcingPosition" placeholder="sourcingPosition" value=""><br>
      <input type="submit" name="submit" value="Submit">
    </form>
  </div>

  </body>
</html>
