<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title></title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <link href="/stylesheets/main.css" rel="stylesheet">
        <script src="https://code.jquery.com/jquery-3.1.1.slim.min.js" integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>
    </head>
    <body class="a-b-c">

          <br><br><br>
          <div class="container">
              <div class="d-flex justify-content-center align-content-middle">
                  <form class="addproduct col-12 col-sm-6" action="/addproduct" method="post">
                      <div class="d-flex-inline">
                          <label class="sr-only" for="description">Product Description</label>
                          <div class="input-group my-2">
                              <i class="material-icons pr-3 green align-self-center d-flex">note_add</i>
                              <select name="description" class="custom-select border-green">
                                  <option value="acornsquash">Acorn Squash</option>
                                  <option value="asparagus">Asparagus</option>
                                  <option value="avocado">Avocado</option>
                                  <option value="beets">Beets</option>
                                  <option value="bellpepper">Bell Pepper</option>
                                  <option value="broccolli">Broccolli</option>
                                  <option value="brusselssprouts">Brussels Sprouts</option>
                                  <option value="butternutsquash">Butternut Squash</option>
                                  <option value="cabbage">Cabbage</option>
                                  <option value="cantaloupe">Cantaloupe</option>
                                  <option value="carrot">Carrot</option>
                                  <option value="cauliflower">Cauliflower</option>
                                  <option value="celery">Celery</option>
                                  <option value="chayotesquash">Chayote Squash</option>
                                  <option value="cilantro">Cilantro</option>
                                  <option value="collard">Collard</option>
                                  <option value="corn">Corn</option>
                                  <option value="cucumber">Cucumber</option>
                                  <option value="eggplant">Eggplant</option>
                                  <option value="grapefruit">Grapefrutit</option>
                                  <option value="graysquash">Gray squash</option>
                                  <option value="greenbeans">Green Beans</option>
                                  <option value="herbs">Herbs</option>
                                  <option value="honeydew">Honeydew</option>
                                  <option value="hotpepper">Hot Pepper</option>
                                  <option value="jackfruit">Jackfruit</option>
                                  <option value="jicama">Jicama</option>
                                  <option value="kale">Kale</option>
                                  <option value="kohlrabi">Kohlrabi</option>
                                  <option value="leefygreens">Leefy Greens</option>
                                  <option value="lemons">Lemons</option>
                                  <option value="limes">Limes</option>
                                  <option value="mango">Mango</option>
                                  <option value="onion">Onion</option>
                                  <option value="oranges">Oranges</option>
                                  <option value="paes">Paes</option>
                                  <option value="papaya">Papaya</option>
                                  <option value="parsnips">Parsnips</option>
                                  <option value="pineapple">Pineapple</option>
                                  <option value="potato">Potato</option>
                                  <option value="pumpkin">Pumpkin</option>
                                  <option value="radish">Radish</option>
                                  <option value="rutabaga">Rutabaga</option>
                                  <option value="soybeans">Soybeans</option>
                                  <option value="spaghettisquash">Spaghetti Squash</option>
                                  <option value="spinach">Spinach</option>
                                  <option value="sweetpotato">Sweet Potato</option>
                                  <option value="swisschard">Swiss Chard</option>
                                  <option value="tomatillos">Tomatillos</option>
                                  <option value="turnips">Turnips</option>
                                  <option value="Watermelon">Watermelon</option>
                                  <option value="yellowsquash">Yellow Squash</option>
                                  <option value="zucchini">Zucchini</option>
                                </select>
                            </div>
                       </div>

                        <label class="sr-only" for="costperlb">Cost per lb</label>
                        <div class="input-group my-2 mr-sm-2 align-items-middle d-flex">
                          <i class="material-icons pr-1 align-self-center d-flex">attach_money</i>
                          <input class="border-green" type="number" step="0.01" name="costperlb" placeholder="Cost per lb" value="">
                          <label class="sr-only" for="location">Location</label>
                          <select name="container" class="custom-select ml-4 green-bot">
                              <option value="pkg">Pkg</option>
                              <option value="bin">Bin</option>
                              <option value="bag">Bag</option>
                              <option value="sack">Sack</option>
                          </select>
                        </div>
                        <div class="input-group my-2 mr-sm-2">
                          <i class="material-icons pr-1 align-self-center d-flex">location_on</i>
                          <input class="border-green" type="text" name="Location" placeholder="Location" value="">
                        </div>
                        <hr>
                        <label class="sr-only" for="truckloadsoffered">Truck loads offered</label>
                        <div class="input-group my-2 mr-sm-2 align-items-middle d-flex">
                          <i class="material-icons pr-1 align-self-center d-flex">local_shipping</i>
                          <input class="border-green" type="number" name="truckloadsoffered" placeholder="Truck Loads Offered" value="">
                        </div>
                        <label class="sr-only" for="cost">Cost per lb</label>
                        <!-- <div class="input-group my-2 mr-sm-2 align-items-middle d-flex"> -->
                          <!-- <i class="material-icons pr-1 align-self-center d-flex">attach_money</i> -->
                          <!-- <input class="border-green" type="number" step="0.01" name="costperlb" placeholder="Estimated Load Cost" value=""> -->
                          <!-- <i class="material-icons pl-2 align-self-center d-flex green">refresh</i> -->
                        <!-- </div> -->

                        <label class="sr-only" for="vendorname">Vendor Name</label>
                        <div class="input-group my-2 mr-sm-2">
                            <i class="material-icons pr-1 align-self-center d-flex">person</i>
                            <input class="border-green" type="text" name="vendorname" placeholder="Vendor Name" value="">
                        </div>

                        <label class="sr-only" for="shelflife">Shelf Life</label>
                        <div class="input-group my-2 align-self-center">
                            <input class="align-self-center p-1 border-green-round" type="number" name="shelflife" placeholder="Shelf Life" value="">&nbsp;&nbsp;Days Remaining
                        </div>
                        <div class="input-group align-self-center">
                            <input type="checkbox" name="combo" value="combo" class="align-self-center" checked>&nbsp;&nbsp;Combo<br>
                        </div>
                        <label class="sr-only" for="comments">Comments</label>
                        <textarea name="comments" rows="4" class="border-green-round p-1 d-flex justify-content-start mt-2" cols="40" placeholder="Comments"></textarea>
                        <div class="d-flex justify-content-end">
                            <button>
                                <i class="material-icons green text-right align-self-center d-flex">forward</i>
                            </button>
                        </div>
                  </div>
                </div>
            </form>
          </div>
    </body>
</html>
