<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1 class="center"></h1>
    <br>
    <form class="login" action="login" method="post">
      <input type="text" name="name" placeholder="name" value="">
      <input type="email" name="email" placeholder="email" value="">
      <input type="text" name="favorite" placeholder="favorite" value="">
      <input type="submit" name="submit" value="Submit">
    </form>
  </body>
</html>
