<% include ./partials/header %>

<div class="item">
        <div class="picAmt">
          <img class="veggie" src="https://placeholdit.co//i/50x50?&text=veggie"/>
          <p>Qty: </p>
        </div>
        <span>Tier (var)</span>
      <div class="d-flex flex-column align-items-center magic" style="margin-left:40px;">
          <p>Item: <strong>Watermelon</strong></p>
          <p>Vendor: <strong>Morgan and Sons Farms</strong></p>
          <p>FoodBank: <strong>Brazos Valley</strong></p>
          <p>Delivery Date: <strong>DateTime</strong></p>
        </div>
      </div>
