<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title><%= title %></title>
  </head>
  <body>
    <section id="upload-data-panel">
      <form id="product" action="/products" method="post" enctype="multipart/form-data">
          <fieldset>
              <legend>Upload Data</legend>
              <div>
                  <!-- The name here is important, and will be used later to reference the data -->
                  <input type="file" name="csvdata" accept="text/cvs">
              </div>
              <div>
                  <input type="submit" value="Submit"/>
              </div>
          </fieldset>
      </form>
    </section>
  </body>
</html>
