<% include ./partials/header %>

  <h2 style="text-align:center;">Register</h2>
  <div class="d-flex justify-content-center">

    <br>
    <form class="register" action="register" method="post">
      <input type="text" name="firstname" placeholder="firstname" value=""><br>
      <input type="text" name="lastname" placeholder="lastname" value=""><br>
      <input type="email" name="email" placeholder="email" value=""><br>
      <input type="password" name="password" placeholder="password" value=""><br>
      <input type="submit" name="submit" value="Submit">
    </form>
  </div>

  </body>
</html>
