<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1 class="center"><%= title %></h1>
    <br>
    <form class="xcode" action="xcode" method="post">
      <input type="number" name="one" placeholder="one" value="">
      <input type="submit" name="submit" value="Submit">
    </form>
  </body>
</html>
